<!DOCTYPE html>
<html>
<head>
    <title>Tadpot Chatbot</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <h2>Welcome to Tadpot Chatbot</h2>
    <div><strong>Logged in as:</strong> {{ role }}</div>
    <div id="chatbox" style="border:1px solid #000; height:300px; overflow-y:scroll; padding:10px;"></div>
    <input type="text" id="userInput" placeholder="Type your message here">
    <button onclick="sendMessage()">Send</button>

    <script>
        function sendMessage() {
            let userText = $("#userInput").val();
            $("#chatbox").append("<div><b>You:</b> " + userText + "</div>");
            $.get("/get", { msg: userText }, function(data) {
                $("#chatbox").append("<div><b>Bot:</b> " + data + "</div>");
                $("#userInput").val("");
                $('#chatbox').scrollTop($('#chatbox')[0].scrollHeight);
            });
        }
    </script>
</body>
</html>
